<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 보니 보니 어딜 보니 </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="center-rectangle">
        <div class="center">
        <img class="img-1" src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/1_Component.png?raw=true" alt="메인화면"> 
            <div class="img-container">
                <a href="http://127.0.0.1:5000/main"> <!-- 게임 주소 -->
                    <img class="img-2" src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/1_%EB%AC%B8%EC%9E%90_%EC%8B%9C%EC%9E%91.png?raw=true" alt="시작"> 
                </a>
            </div>
        </div>
    </div>
</body>
</html> 