<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> 보니 보니 어딜 보니 </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div id="gameInfo">
        <div id="scoreboard">점수: 0</div> <!-- 점수판 -->
        <div id="moveCount">이동 횟수: 0</div> <!-- 이동 횟수 -->
    </div>
    <div id="maze" class="grid">
    </div>
    <!-- 사과 팝업 -->
    <div id="apple_popup" class="apple_content">
        <img src = "https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%82%AC%EA%B3%BC%ED%8C%9D%EC%97%85_%EC%98%88%EC%8B%9C.png?raw=true">
    </div>
    <!-- 바위 팝업 -->
    <div id="rock_popup" class="rock_content"> 
        <img src = "https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%9E%A5%EC%95%A0%EB%AC%BC.png?raw=true">
    </div>
    <!-- 도착 팝업 -->
    <div id="popup" class="target_content"> 
        <img src = "https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EB%8F%84%EC%B0%A9.png?raw=true">
    </div>
    <!-- 막힌길 팝업 -->
    <div id="road_popup" class="road_content"> 
        <img src = "https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EB%A7%89%ED%9E%8C%EA%B8%B8.png?raw=true">
    </div>
    <script src="static/js/func.js"></script>
</body>
</html> 