<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 보니 보니 어딜 보니 </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div id="background_map" class="background">
        <div class="top-container">
            <div class="image-container">
                <a href="https://www.naver.com/"> <!-- 주소값을 메인 html로 변경하기 -->
                    <img src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EB%A9%94%EB%89%B44.png?raw=true" alt="메뉴" class="top-image">
                </a></div>
            <div class="image-container">
                <img src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%8A%A4%ED%85%8C%EC%9D%B4%EC%A7%803.png?raw=true" alt="스테이지" class="top-image"></div>
            <div class="image-container">
                <img src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%A0%90%EC%88%984.png?raw=true" alt="점수" class="top-image">
                <div id="scoreboard" class="score-text"> 0 </div></div>
        </div>
    <div id="main_back" class="mainback"></div>
    <div id="maze" class="grid"></div>
    <div id="moveCounts">
        <div class="bottom-container">
            <div class="bottom-image-container">
                <div class="direction-text"><span id="leftMoves">0</span></div>
                <img src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%99%BC%EC%AA%BD.png?raw=true" alt="왼쪽" class="bottom-image">
            </div>
            <div class="bottom-image-container">
                <div class="direction-text"><span id="upMoves">0</span></div>
                <img src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%9C%84.png?raw=true" alt="위" class="bottom-image">
            </div>
            <div class="bottom-image-container">
                <div class="direction-text"><span id="downMoves">0</span></div>
                <img src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%95%84%EB%9E%98.png?raw=true" alt="아래" class="bottom-image">
            </div>
            <div class="bottom-image-container">
                <div class="direction-text"><span id="rightMoves">0</span></div>
                <img src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%98%A4%EB%A5%B8%EC%AA%BD.png?raw=true" alt="오른쪽" class="bottom-image">
            </div>
            <div class="bottom-image-container">
                <div id="moveCount" class="direction-text">0</div>
                <img src="https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%82%AC%EA%B3%BC.png?raw=true" alt="총횟수" class="bottom-image">
            </div>
        </div>
    </div>
    </div>
    
    </div>
    <!-- 사과 팝업 -->
    <div id="apple_popup" class="apple_content">
        <img src = "https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%82%AC%EA%B3%BC%ED%8C%9D%EC%97%85_%EC%98%88%EC%8B%9C.png?raw=true">
    </div>
    <!-- 바위 팝업 -->
    <div id="rock_popup" class="rock_content"> 
        <img src = "https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EC%9E%A5%EC%95%A0%EB%AC%BC.png?raw=true">
    </div>
    <!-- 도착 팝업 -->
    <div id="popup" class="target_content"> 
        <img src = "https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EB%8F%84%EC%B0%A9.png?raw=true">
    </div>
    <!-- 막힌길 팝업 -->
    <div id="road_popup" class="road_content"> 
        <img src = "https://github.com/chunjae-Big-4/Coding-Educational-Kit-Project/blob/main/img/%EB%A7%89%ED%9E%8C%EA%B8%B8.png?raw=true">
    </div>
    <script src="static/js/func.js"></script>
</body>
</html> 